a {
  color: hotpink;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4bbd8;
  color: #fd0ad5;
  margin: 0;
  padding: 20px;
  line-height: 1.9;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 90px;
  color: crimson;
  text-align: center;
}

h3 {
  color: rgb(234, 0, 255);
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  line-height: 1.9;
}

h2 {
  text-align: center;
}

p {
  line-height: 1.5;
  color: rgb(255, 9, 222);
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.1em;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  position: relative;
  padding-left: 20px;
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.1em;
  text-align: center;
}

ul li::before {
  content: '';
  color: rgb(255, 9, 9);
  position: relative;
  left: 0;
  position: absolute;
  font-size: 0.9em;
}

img {
  border: 3px dashed rgb(255, 0, 0);
  border-radius: 10px;
  float: left;
}

.horizontal-nav {
  background-color: hotpink;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  gap: 40px;
}

.horizontal-nav a {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: grid;
  place-items: center;
}

section {
  clear: both;
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.horizontal-nav a:hover {
  background-color: #fff;
  color: hotpink;
  border-radius: 5px;
  text-align: center;
}

.hobbies-page ul li {
  text-align: left;
}

.hobbies-page p {
  align-items: left;
}

.red-tag {
  color: red;
  font-weight: bold;
}

.accomplishments-page {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300vh;
}

.dare-circle {
  width: 500px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.bootstrap-angled {
  height: auto;
  transform: rotate(10deg);
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
  float: left;
}

.purple-tag {
  color: rgb(122, 9, 214);
  font-weight: bold;
}

.python-circle {
  width: 500px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  float: left;
}

.blue-tag {
  color: rgb(42, 27, 250);
  font-weight: bold;
}

.nhss-angled {
  width: 300px;
  height: auto;
  transform: rotate(10deg);
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.maroon-tag {
  color: rgb(85, 20, 20);
  font-weight: bold;
}

.index-page {
  background-image: url('../images/pink-stars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300vh;
}

.video-container {
  position: relative;
  display: inline-block;
  padding: 5px;
  border: 5px solid #fd0ad5;
  margin: 60px;
}

.video-container::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 3px solid #000;
}

.video {
  width: 100%;
  height: auto;
  border: none;
}

.hobbies-page {
  background-image: url('../images/babypink.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300vh;
}